<article class="main">
    <h4 class="archive_title">
        <a href="{{.Canonical | CanonicalUrl}}" rel="bookmark">{{.Title}}</a>
    </h4>
    &raquo;
    <time datetime="{{.PublishedOn | ISO8601}}">{{.PublishedOn | InTimeZone | DisplayTime}}</time>
</article>
