<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
  <ShortName>Verbose Logging</ShortName>
  <Description>software development with some really amazing hair</Description>
  <Contact>darkhelmet@darkhelmetlive.com</Contact>
  <Image height="16" width="16" type="image/png">{{ImagePath "favicon.png"}}</Image>
  <Url type="text/html" method="get" template="{{Url "/search?q={searchTerms}"}}"/>
  <moz:SearchForm>{{Url "/"}}</moz:SearchForm>
</OpenSearchDescription>